
@font-face {
    font-family: arcadeclassic;
    src: url(arcadeclassic/ARCADECLASSIC.TTF);
}

body {
	background-color: lightgreen;
}

h1 {
	font-family: arcadeclassic;
	font-size: 60px;
	text-align: center;
	margin:25 auto;
}

p {
	position:relative;
}
/*Game board styling*/



#player1 {
	position: absolute;
	left:0;
	top: 0;
}

#player2 {
	position: absolute;
	left:0;
	top:100px;
}

.container {
	background-color: gray;
	position: relative;
	height: 200px;
}

#finish-line {
	
	z-index: 10;
	right:0px;
	position: absolute;
}