
@font-face {
    font-family: arcadeclassic;
    src: url(arcadeclassic/ARCADECLASSIC.TTF);
}

h1 {
	font-family: arcadeclassic;
	font-size: 60px;
	text-align: center;
	margin:25 auto;
}
/*Game board styling*/

#race-track {
	background-color: gray;
	width:100%;
	height: 200px;
	margin-top: 100px;
}

.container {
	background-color: gray;
}

img {
	display: block;
}