/*landing page styling elements*/

@font-face {
    font-family: arcadeclassic;
    src: url(arcadeclassic/ARCADECLASSIC.TTF);
}

body {
	background-color: pink;
}

.landing-page {
 	
 	
 	margin: 0 auto;
 	text-align:center;
 	font-family: arcadeclassic;
 	height: 800px;
}

h1 {
	font-size: 60px;
	padding-top: 200px;
}

a {
	text-decoration: none;
	color: inherit;
}

.start-button {
	font-size: 35px;
	margin: 0 auto;
	display: block;
	text-align: center;
	margin-top: 25px;
	padding: 5px;

}

/*game board*/




